apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  name: compliancepolicies.compliance.kubecomply.io
  annotations:
    controller-gen.kubebuilder.io/version: v0.15.0
spec:
  group: compliance.kubecomply.io
  names:
    kind: CompliancePolicy
    listKind: CompliancePolicyList
    plural: compliancepolicies
    singular: compliancepolicy
    shortNames:
      - cpol
  scope: Namespaced
  versions:
    - name: v1alpha1
      served: true
      storage: true
      subresources:
        status: {}
      schema:
        openAPIV3Schema:
          type: object
          properties:
            apiVersion:
              type: string
            kind:
              type: string
            metadata:
              type: object
            spec:
              type: object
              required: [category, severity]
              properties:
                category:
                  type: string
                  enum: [cis, nsa, rbac, pss, network, custom]
                severity:
                  type: string
                  enum: [critical, high, medium, low, info]
                regoPolicy:
                  type: string
                regoPolicyConfigMapRef:
                  type: object
                  properties:
                    name:
                      type: string
                    key:
                      type: string
                  required: [name, key]
                enabled:
                  type: boolean
                  default: true
            status:
              type: object
              properties:
                ready:
                  type: boolean
                message:
                  type: string
                lastEvaluated:
                  type: string
                  format: date-time
